body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    background-image: url('../images/Capture d’écran 2023-11-13 110247.png');
    background-size:cover;
    background-repeat: no-repeat;
}

nav {
    margin: 0;
    padding: 1em;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
        text-align: center;
        padding: 5em;


}

header h1 {
    margin-bottom: 0.5em;
}

header p {
    margin-bottom: 1em;
}

header button {
    padding: 1em 2em;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

