/* Coffee-themed CSS for your form */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e7; /* Creamy background color */
    color: #4a3f35; /* Dark brown text color */
    margin: 0;
    padding: 0;
    background-image: url("../images/Capture d’écran 2023-11-15 122625.png");
    background-repeat: round;
}

nav {
    background-color: #2c1f15; /* Dark brown navigation background color */
    margin: 0;
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #f5f1e7; /* Creamy navigation text color */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #d2aa7f; /* Light brown hover color */
}

header {
    text-align: center;
    padding: 80px 20px;
    background-color: #2c1f15; /* Dark brown header background color */
}

h1 {
    font-size: 36px;
    color: #4a3f35; /* Dark brown header text color */
}

/* Coffee-themed form styles */

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f5f1e7; /* Creamy form background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #4a3f35; /* Dark brown label text color */
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #8c7961; /* Light brown border color */
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #d2aa7f; /* Light brown focus border color */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2c1f15; /* Dark brown button background color */
    color: #f5f1e7; /* Creamy button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #d2aa7f; /* Light brown button hover color */
}

.text-center {
    text-align: center;
}

/* Add more styles as needed */
